<?xml version="1.0" encoding="utf-8" ?>
<!--@(#)SCADE2(W:SKD08212CO2:DyP.Util.TestDrive:Web.config:0:12/Junio/2008[DyP.Util.TestDrive.LDAPTestDrive:1.0:12/Junio/2008])-->
<configuration>
  <appSettings>
    <add key="LDAPServerModule" value="101.30.224.47:389"/>
    <add key="LDAPUseSSLModule" value="false"/>
    <add key="LDAPDistinguisedNameModule" value="ou=EXTERNOS,ou=PEOPLE,o=SAT"/>
    <add key="LDAPRootModule" value="T=NOVELLTRADERS"/>
    <add key="LDAPServiceUIDModule" value="cn=scade2_proxy,ou=Servicios,o=SAT"/>
    <add key="LDAPServicePwdModule" value="scade2"/>
    <add key="TimeOut" value="20"/>
  </appSettings>
  <system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\autenticacion_ldap.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>