<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RabbitMQ_String" value="amqp://brokerdpascliente:dpasadminmq11*@b-51bfae8b-1efc-44b8-8fcd-34f5bba79b45.mq.us-east-1.amazonaws.com:5671" />
		<add key="RabbitMQ_URL" value="b-51bfae8b-1efc-44b8-8fcd-34f5bba79b45.mq.us-east-1.amazonaws.com" />
		<!--add key="RabbitMQ_URL" value="44.222.22.105" /-->
		<add key="RabbitMQ_Port" value="5671" />
		<add key="RabbitMQ_User" value="brokerdpascliente" />
		<add key="RabbitMQ_Pasword" value="dpasadminmq11*" />
		<add key="RabbitMQ_Ssl" value="1"/>
	</appSettings>
</configuration>