<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAT.DyP.Util.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SAT.DyP.Util.Web.Properties.Settings>
            <setting name="SAT_SCADE_NET_Common_Web_WebServiceConfiguracion_Configuracion"
                serializeAs="String">
                <value>http://localhost/CommonServices/Configuracion.asmx</value>
            </setting>
            <setting name="SAT_SCADE_NET_Common_Web_WebServiceConfiguracionSetting_ConfiguracionSetting"
                serializeAs="String">
                <value>http://localhost/CommonServices/ConfiguracionSetting.asmx</value>
            </setting>
        </SAT.DyP.Util.Web.Properties.Settings>
    </applicationSettings>
</configuration>