<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="RegLog" value="DIOT_Recepcion"/>
    <add key="RegLogSours" value="SerRecepcion"/>
    <add key="RegLogAudit" value="si"/>
    <add key="NombreEquipo" value=""/>
    <add key="FileShare" value="\\99.90.24.47\ducto\DIOT\Envio"/>
    <add key="numIntentosPro" value="50"/>
  </appSettings>
  <connectionStrings>
    <add name="sConServicios" connectionString="Data Source=99.90.24.45;Password=Sat2012;Persist Security Info=True;User ID=sa;Initial Catalog=DIOperaTerceros;" providerName="sqlConnection" />
  <add name="sConDatos" connectionString="Data Source=99.90.24.45;Password=Sat2012;Persist Security Info=True;User ID=sa;Initial Catalog=DIOperaTerceros;" providerName="sqlConnection" />
  <add name="sConScadeNet" connectionString="Data Source=99.90.24.45;Password=Sat2012;Persist Security Info=True;User ID=sa;Initial Catalog=ScadeNet;" providerName="sqlConnection" />
  </connectionStrings>
</configuration>