@{ ViewBag.Title = "Solicitud de generación de formatos de pag"; }

<style>
    .div-centrado {
        width: 80%;
        background-color: #ffffff;
        position: relative;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
    }

    p {
        font-size: 16px;
    }
</style>


<div class="div-centrado">

    <h1>En mantenimiento</h1>
    <p>
        Para consultar sus créditos fiscales y/o emitir la línea de captura para el pago de los mismos, puede ingresar un trámite a través de un servicio o
        solicitud en el Portal del SAT, o bien, acudir con cita a la Administración Desconcentrada de Recaudación que corresponda a su domicilio fiscal, para la
        solicitud respectiva.
    </p>

</div>


