/README.md
*.log
/Paquetes/
MonitorRMA/Codigo/WinAplicacion/.vs/*
MonitorRMA/Codigo/WinAplicacion/PruebasUnitarias/bin/*
MonitorRMA/Codigo/WinAplicacion/PruebasUnitarias/obj/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/bin/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/obj/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/bin/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_Formas/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_Formas/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_RN/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_RN/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Soluciones/.vs/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Comunes/Sat.CreditosFiscales.Comunes.Entidades/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Comunes/Sat.CreditosFiscales.Comunes.Entidades/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Comunes/Sat.CreditosFiscales.Comunes.Herramientas/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Comunes/Sat.CreditosFiscales.Comunes.Herramientas/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Datos/Sat.CreditosFiscales.Datos.AccesoDatos/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Datos/Sat.CreditosFiscales.Datos.AccesoDatos/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Herramientas/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Herramientas/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Portal/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Portal/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Temporales/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Temporales/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.LogicaNegocio/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.LogicaNegocio/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.Pagos/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.Pagos/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.Servicios/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.Servicios/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Test/ConsolaDePruebas/bin/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Test/ConsolaDePruebas/obj/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Setup/SAT.Setup.Presentacion.Servicios/Release/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Setup/SAT.Setup.Presentacion.Servicios/Debug/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.Servicios/*csproj.user
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Portal/*csproj.user
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Setup/SAT.Setup.Presentacion.Portal/Release/*
CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Setup/SAT.Setup.Presentacion.Portal/Debug/*