/README.md
*.log
/Paquetes/
MonitorRMA/Codigo/WinAplicacion/.vs/*
MonitorRMA/Codigo/WinAplicacion/PruebasUnitarias/bin/*
MonitorRMA/Codigo/WinAplicacion/PruebasUnitarias/obj/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/bin/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/obj/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/bin/*
MonitorRMA/Codigo/WinAplicacion/UtileriasComunes/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_BaseDatos/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_Entidades/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_Formas/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_Formas/obj/*
MonitorRMA/Codigo/WinAplicacion/WA_RN/bin/*
MonitorRMA/Codigo/WinAplicacion/WA_RN/obj/*
