<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre el uso de la transformación de web.config, visite http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration>
  <!--
    En el ejemplo siguiente, la transformación "SetAttributes" cambiará el valor de 
    "connectionString" para que solamente use "ReleaseSQLServer" cuando el localizador "Match" 
    encuentre un atributo "name" con el valor "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
-->
      <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<appSettings>
		<add key ="Conexion" value="Data Source=localhost;Initial Catalog=MonitorPaquetes;User ID=sa ; Password=8905Mlap"></add>
	</appSettings>
</configuration>