<?xml version="1.0"?>
<!--@(#)SCADE2(W:SKDN08221CO2:SAT.DyP.Presentacion.Seguridad.Autenticacion:Web.config:0:21/Mayo/2008[SAT.DyP.Presentacion.Seguridad.Autenticacion:1.2:21/Mayo/2008])-->
<configuration>
    <appSettings>
        <add key="SimularAutenticacion" value="false"/>
        <!-- Cuando 'SimularAutenticacion' es 'true', no se usa el LDAP y todo es válido. -->
        <!--add key="LDAPServer" value="101.30.224.47:389"/>
    <add key="LDAPUseSSL" value="false"/>
    <add key="LDAPDistinguisedName" value="cn={0},ou=CONTRIBUYENTES1,ou=EXTERNOS,ou=PEOPLE,o=SAT"/>
    <add key="LDAPRoot" value="T=NOVELLTRADERS"/>
    <add key="LDAPServiceUID" value="CN=Administrator,O=DemoOU"/>
    <add key="LDAPServicePwd" value="pass@word1"/-->
      
        <add key="LDAPServerModule" value="101.30.224.47:389"/>
        <add key="LDAPUseSSLModule" value="false"/>
        <add key="LDAPDistinguisedNameModule" value="ou=EXTERNOS,ou=PEOPLE,o=SAT"/>
        <add key="LDAPRootModule" value="T=NOVELLTRADERS"/>
        <add key="LDAPServiceUIDModule" value="cn=scade2_proxy,ou=Servicios,o=SAT"/>
        <add key="LDAPServicePwdModule" value="scade2"/>
        <add key="TimeOut" value="20"/>
    </appSettings>
    <connectionStrings/>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
