<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Las rutas de los folders deben irseparadas por el caracter "|"-->
    <add key="Carpetas" value="C:\TempLCCF"/>
    <add key="EjecutarProceso" value="true"/>
    <add key="HorasDeAntiguedad" value="1"/>
  </appSettings>
</configuration>