<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Conexion" value="Data Source=99.90.24.216;Initial Catalog=MonitorPaquetes;User ID=sa ; Password=Sat2012" />

    <add key="Log" value="" />
    <add key="Auditoria" value="si" />

    <add key ="Area" value="ALL" />
    <!--add key ="Area" value="APE4_DyP|APE4_Fat|APE4_For|APE4_Jur|ACSI_AAA"/-->

    <!--add key ="Area" value="APE4_Fat|APE4_For|APE4_Jur|ACSI_AAA"/-->
    
  </appSettings>
  <connectionStrings>
    <add name="Conexion" connectionString="Data Source=99.90.24.216;Initial Catalog=MonitorPaquetes;User ID=sa ; Password=Sat2012" providerName=""/>
  </connectionStrings>  
</configuration>
