<?xml version="1.0" encoding="utf-8" ?>
<!--@(#)SCADE2(W:SKD08212CO2:SAT.DyP.Util.Security.Interop.SgiHelpersTest:Web.config:0:22/Mayo/2008[SAT.DyP.Util.Security.Interop.SgiHelpersTest:1.0:22/Mayo/2008])-->
<configuration>
  <appSettings>
    <!-- Valor para deshabilitar instrumentación de invocación a las librerías de seguridad -->
    <add key="disableInstrumentation" value="false" />
    <!-- Valor para controlar la escritura de mensajes diagnósticos -->
    <add key="WriteTrace" value="true" />
    <!-- Valores para incluir/excluir en la ejecución de la prueba los diferentes grupos de funcionalidad de SgiHelpers-->
    <add key="TestCertificateStuff" value="yes" />
    <add key="TestCryptographyStuff" value="yes" />
    <add key="TestDigitalSignaturesStuff" value="yes" />
    <add key="TestPkcs7InfoStuff" value="yes" />
    <!-- Ruta de certificados de prueba -->
    <add key="InputFilesPath" value="..\..\InputFiles" />
    <!-- Valores de prueba para inspección de certificados digitales -->
    <add key="CertificateStuff_TestCertificate" value="cd5.cer" />
    <!-- Valores de prueba para manejo de certificados -->
    <add key="CryptographyStuff_CertificateSerialNumber" value="10001000000000000004" />
    <add key="CryptographyStuff_TaxPayerID"              value="BAJC690707ER1" />
    <add key="CryptographyStuff_TestCertificate"         value="cd5.cer" />
    <add key="CryptographyStuff_TestPrivateKey"          value="cd5.key" />
    <add key="CryptographyStuff_PrivateKeyPassword"      value="pruebas1234" />
    <add key="CryptographyStuff_SignatureInputData"      value="This is the original string for signature generation and validation." />
    <add key="CryptographyStuff_EncryptionInputData"     value="This is some input data." />
    <add key="CryptographyStuff_EncryptionPassword"      value="Th1sIsTh#P@ssw0rd" />
    <!-- Valores de prueba para obtención de firmas digitales -->
    <add key="DigitalSignatureStuff_HostName"    value="99.90.29.67" />
    <add key="DigitalSignatureStuff_ServiceName" value="SgiSelloDigital" />
    <add key="DigitalSignatureStuff_InputData"   value="||AARF700523PCA|10017=0|20001=19080|20002=863472|40002=20075117|40003=12:51|10502=12|10527=2007|10522=1|10504=0|70506=3|30003=000001000007000112649=||" />
    <!-- Valores de prueba para rutinas de PKCS7 -->
    <add key="Pkcs7InfoStuff_Create_InputFilePath" value="SomeClearTextInputFile.Txt" />
    <add key="Pkcs7InfoStuff_CertificatePath" value="de_srv_x509.cer" />
    <add key="Pkcs7InfoStuff_PrivateKeyPath"  value="de_srv.key" />
    <add key="Pkcs7InfoStuff_Password"        value="qwertyui" />
    <add key="Pkcs7InfoStuff_InputFilePath"   value="SETA870101AAA1013J1717C83S20445.DEC" />
  </appSettings>
</configuration>