/****** Script rollbacktipodoc10  ******/
-- CatConceptoEquivalencia
delete CatConceptoEquivalencia where idaplicacion=5

-- CatConceptosOriginal
delete from CatConceptosOriginal where idaplicacion=5
-- CatFormatoImpresionEquivalencia
delete  from CatFormatoImpresionEquivalencia 
  where idaplicacion=5 and IdTipoDocumento=10
--CatOrdenamientoTransaccion
delete from CatOrdenamientoTransaccion where idaplicacion=5 and idtipodocumento=10

--CatPeriodicidadEquivalencia
delete from CatPeriodicidadEquivalencia where idaplicacion=5
--CatPeriodicidadEquivalencia
delete from CatPeriodoEquivalencia where idaplicacion=5

--CatReglasEquivalencia
delete from CatReglasEquivalencia where idaplicacion=5 and idtipodocumento=10

--CatTransaccion
IF(select count(*) from tblTransaccion)=0
begin
delete from CatTransaccion where idaplicacion=5 and idtipodocumento=10
end
--TblAdmonEsquemas
Delete from TblAdmonEsquemas where idaplicacion=5 and idtipodocumento=10
--TblAdmonReglas
delete from TblAdmonReglas where idaplicacion=5 and idtipodocumento=10
--cataplicacion
IF(select COUNT(*) from CatFormatoImpresionEquivalencia where IdAplicacion=5)<1
begin
    delete cataplicacion where idaplicacion=5
end
--CatALR
IF (select COUNT(*) from sys.tables t
inner join sys.columns c
on t.object_id=c.object_id
where t.name ='CatALR')=14
begin
ALTER TABLE [dbo].[CatALR]
drop column	[IdALRMAT]
end
GO
--pConsultaFormatos
IF (SELECT COUNT(*) FROM sys.procedures WHERE name = 'pConsultaFormatos')=1
begin
DROP PROCEDURE [dbo].[pConsultaFormatos]
end 
GO

--TblSIATDatosGenerales
IF(SELECT COUNT(*) FROM TblSIATDatosGenerales where IdTipoLinea>255)=0
begin
   ALTER TABLE TblSIATDatosGenerales ALTER COLUMN IdTipoLinea tinyint ; 
end
--pInsertaSIATDatosGenerales
IF (SELECT COUNT(*) FROM sys.procedures WHERE name = 'pInsertaSIATDatosGenerales')=1
begin
DROP PROCEDURE [dbo].[pInsertaSIATDatosGenerales]
end 
GO
select count(*) AS MAT from cataplicacion where idaplicacion=5
select count(*) AS ARCA from cataplicacion where idaplicacion=2

select count(*) AS MAT from CatConceptoEquivalencia where idaplicacion=5
select count(*) AS ARCA from CatConceptoEquivalencia where idaplicacion=2 

select count(*) AS MAT from CatConceptosOriginal where idaplicacion=5
select count(*) AS ARCA from CatConceptosOriginal  where idaplicacion=2 

select count(*) AS MAT from CatFormatoImpresionEquivalencia where idaplicacion=5 and idtipodocumento=10
select count(*) AS ARCA from CatFormatoImpresionEquivalencia where idaplicacion=2 and idtipodocumento=10

select count(*) AS MAT from CatOrdenamientoTransaccion where idaplicacion=5 and idtipodocumento=10
select count(*) AS ARCA from CatOrdenamientoTransaccion where idaplicacion=2 and idtipodocumento=10

select count(*) AS MAT from CatPeriodicidadEquivalencia where idaplicacion=5
select  count(*) AS ARCA from CatPeriodicidadEquivalencia where idaplicacion=2

select count(*) AS MAT from CatPeriodoEquivalencia where idaplicacion=5
select count(*) AS ARCA from CatPeriodoEquivalencia where idaplicacion=2

select count(*) AS MAT from CatReglasEquivalencia where idaplicacion=5 and idtipodocumento=10
select count(*) AS ARCA from CatReglasEquivalencia where idaplicacion=2 and idtipodocumento=10

select count(*) AS MAT from CatTransaccion where idaplicacion=5 and idtipodocumento=10
select count(*) AS ARCA from CatTransaccion where idaplicacion=2 and idtipodocumento=10

select count(*) AS MAT  from TblAdmonEsquemas where idaplicacion=5 and idtipodocumento=10
select count(*) AS ARCA from TblAdmonEsquemas where idaplicacion=2 and idtipodocumento=10 

select count(*) AS MAT from TblAdmonReglas where idaplicacion=5  and idtipodocumento=10
select count(*) AS ARCA from TblAdmonReglas where idaplicacion=2  and idtipodocumento=10