<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding 
					name="BasicHttpBinding_IRecepcion" 
					closeTimeout="10:00:00"
					openTimeout="10:00:00" 
					receiveTimeout="10:00:00" 
					sendTimeout="10:00:00" />
				
				<binding 
					name="BasicHttpBinding_IServicioGeneraFormatoImpresion"
					closeTimeout="10:00:00" 
					openTimeout="10:00:00" 
					receiveTimeout="10:00:00"
					sendTimeout="10:00:00" 
					allowCookies="false" 
					bypassProxyOnLocal="false"
					maxBufferPoolSize="2147483647" 
					maxReceivedMessageSize="2147483647"
					useDefaultWebProxy="true" />
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint 
				address="http://wu1-sis-dev-cls-net-recepcion.cloudapp.net/Recepcion.svc"
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IRecepcion"
				contract="RecepcionLC.IRecepcion" 
				name="BasicHttpBinding_IRecepcion" />

			<endpoint 
				address="http://localhost:34071/ServicioGeneraFormatoImpresion.svc" 
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IServicioGeneraFormatoImpresion"
				contract="ServicioImpresion.IServicioGeneraFormatoImpresion"
				name="BasicHttpBinding_IServicioGeneraFormatoImpresion" />
		</client>
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>