<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAT.DyP.Util.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SAT.DyP.Util.Security.Properties.Settings>
            <setting name="SAT_SCADE_NET_Common_Security_wsSgiHelper_wsSgiHelper"
                serializeAs="String">
                <value>http://localhost:2245/SgiHelperServices/wsSgiHelper.asmx</value>
            </setting>
        </SAT.DyP.Util.Security.Properties.Settings>
    </applicationSettings>
</configuration>