<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sat.Scade.Net.IDE.Presentacion.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SAT.DyP.Util.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DecryptionPassword" value="9 3E A5 C6 79 A 45 3E 21 21" />
    <add key="DecryptionKey" value="59B77" />
    <add key="InWindow" value="0" />
    <add key="MaxInMemoryProcessSize" value="6114" />
    <add key="UsarCookies" value="false"/>
    <add key="ForzarAutenticacionCiecFortalecida" value="true"/>
    <add key="ForzarAutenticacionFiel" value="false"/>
    <add key="ForzarServicioNoDisponible" value="false"/>
    <add key="DataBaseKeyConfig" value="Sat.DyP.IDE::BaseDatos"/>
    <add key="StoreProcedureName" value="ExisteArchivo"/>
    <add key="StoreProcedureParameterName" value="@NombreArchivo"/>
    <add key="FormatoFecha" value="dd-MMM-yyyy"/>
    <add key="FormatoHora" value="HH:mm"/>
    <add key="Cultura" value="es-MX"/>
    <add key="RutaRequerida" value="[00] Estimado Contribuyente, es necesario el archivo de su Declaración. Favor de seleccionarlo previamente o bien, indicar la ruta en donde se encuentra el mismo."/>
    <add key="RutaInvalida" value="Estimado Contribuyente, el archivo {0} no se ha encontrado en la ruta especificada o el archivo está vacío. Verifique que la ruta y el archivo sean correctos y envíelo nuevamente."/>
    <add key="PasswordRequiredErrorLogin" value="Debe capturar la Contraseña"/>

    <!-- Datos de Internet-->
    <add key="MedioPresentacion" value="3"/>
    <add key="UserNameLogin" value="RFC: "/>
    <add key="PasswordLogin" value="Contraseña: "/>
    <add key="UserNameRequiredErrorLogin" value="Debe capturar el RFC"/>
    <add key="PasswordRequiredErrorLogin" value="Debe capturar la Contraseña"/>
    <add key="FailureTextLogin" value="[01] Por favor  verifique que su RFC sea correcto y  su Contraseña esté vigente o actualizada."/>
    <add key="ButtonLogin" value="Aceptar"/>
    <add key="TitleLogin" value=""/>
    <add key="TitleHeader" value="Acceso a los Servicios|Electrónicos del SAT"/>
    <add key="TituloReceptionHeader" value="IMPUESTO A LOS DEPÓSITOS EN EFECTIVO|INTERNET"/>

    <!-- Datos de Modulo>
    <add key="MedioPresentacion" value="2"/>
    <add key="UserNameLogin" value="Usuario: "/>
    <add key="UserNameRequiredErrorLogin" value="Debe capturar el Usuario"/>
    <add key="FailureTextLogin" value="[02] Por favor verifique que su usuario y contraseña estén correctos."/>
    <add key="TitleLogin" value="MÓDULO"/>
    <add key="TitleHeader" value="IMPUESTO A LOS DEPÓSITOS EN EFECTIVO"/>
    <add key="TituloReceptionHeader" value="IMPUESTO A LOS DEPÓSITOS EN EFECTIVO|MÓDULO"/>
    <add key="SATPermisos" value="81"/-->

    <add key="autenticacion" value="http://localhost/Autenticacion/wsIDCValidate.asmx"/>
    <add key="UrlServicioConfiguracion"  value="http://localhost/CommonServices/Configuracion.asmx"/>
    <add key="IdMateria" value="251" />
    <add key="EntidadReceptora" value="19080" />
    <add key="EnLaboratorio" value="true" />
    <add key="AutenticacionNovell" value="false" />
    <add key="HeaderRFC" value="SATSEG_USR"/>
    <add key="HeaderPassword" value="SATSEG_PWD"/>
    <add key="HeaderCertificado" value="SATSEG_NUMSERIE"/>
    <add key="TextoUrlInicioSesiónNovell" value="Regresar a la página de Inicio de Sesión."/>
    <add key="LogAuditoria" value="SI" />
    <add key ="AppletMemory" value="-Xms1024m -Xmx1024m" />
  </appSettings>
  <connectionStrings>
    <!--add name="Directory" connectionString="SATModule" /-->
    <add name="Directory" connectionString="SATMembership" />
  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="SAT.DyP.Util.Web, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=460b3be631f4cec9"/>
      </assemblies>
    </compilation>
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/>
    <pages theme="Default" validateRequest="true" enableViewStateMac="false" viewStateEncryptionMode="Always"></pages>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="120" protection="Validation" name="Auth_RenovacionIDC_IDE" slidingExpiration="true" domain="" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="IDCMembershipProvider">
      <providers>
        <add name="IDCMembershipProvider" type="SAT.DyP.Presentacion.Seguridad.Membresia.IDCMembershipProvider"/>
        <add name="FielMembershipProvider" type="Sat.Scade.Net.IDE.Presentacion.Web.FielMembershipProvider"/>
      </providers>
    </membership>
    <httpModules>
      <add name="ScadeSecurityModule" type="SAT.DyP.Util.Web.Authentication.ScadeSecurityHttpModule"/>
    </httpModules>

    <httpRuntime maxRequestLength="2097151" executionTimeout="7200" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />

    <sessionState timeout="120" />

    <customErrors mode="Off" defaultRedirect="ServicioNoDisponible.aspx" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000" />
      </requestFiltering>
    </security>
  </system.webServer>

  <location path="AppletFirma.jar">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EncriptorIDE.jar">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NotificacionEncrip.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="LoginFEA.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoginFEA.asp">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AyudaConfigura.html">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/EstandarPantallas.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/jquery.min.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura2.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura3.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura4.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura5.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura6.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura7.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura8.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura9.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura10.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura11.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/Configura/Captura12.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/ImageSat.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/HeaderHomolagado.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/ImageScade.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/New/Images/img_footer.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images/img_footer.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ServicioNoDisponible.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_BigFilesService"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 receiveTimeout="00:30:00"
                 sendTimeout="00:30:00"
                 allowCookies="false"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="1048576"
                 maxBufferSize="1311072"
                 maxReceivedMessageSize="1311072"
				 messageEncoding="Text"		   
                 textEncoding="utf-8"
                 transferMode="Streamed"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" 
                        maxStringContentLength="10485760"
                        maxArrayLength="163840000" 
                        maxBytesPerRead="4096" 
                        maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" 
                       proxyCredentialType="None"
                       realm="" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRecepcion" 
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00" 
                 receiveTimeout="00:30:00" 
                 sendTimeout="00:30:00"
                 bypassProxyOnLocal="false" 
                 transactionFlow="false" 
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288" 
                 maxReceivedMessageSize="65536" 
                 messageEncoding="Text"
                 textEncoding="utf-8" 
                 useDefaultWebProxy="true" 
                 allowCookies="false">
          <readerQuotas maxDepth="32" 
                        maxStringContentLength="8192" 
                        maxArrayLength="16384"
                        maxBytesPerRead="4096" 
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true" 
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" 
                       proxyCredentialType="None"
                       realm="" />
            <message clientCredentialType="Windows" 
                     negotiateServiceCredential="true"
                     establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRecepcion1">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WCFBigFilesService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BigFilesService"
        contract="SAT.DyP.Util.Service.WCF.IBigFilesService" name="BasicHttpBinding_BigFilesService" />
      <endpoint address="http://localhost/IdeRecepcion/Recepcion.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRecepcion"
        contract="ServiceRecepcion.IRecepcion" name="WSHttpBinding_IRecepcion" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SAT.DyP.Util.Web.Properties.Settings>
      <setting name="SAT_SCADE_NET_Common_Web_WebServiceConfiguracion_Configuracion" serializeAs="String">
        <value>http://localhost/CommonServices/Configuracion.asmx</value>
      </setting>
    </SAT.DyP.Util.Web.Properties.Settings>
  </applicationSettings>
</configuration>