<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioArcaCreditosFiscales" />
                <binding name="BasicHttpBinding_ICreditosFiscales" />
                <binding name="IdCInternoSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IServicioGeneraFormato" />
                <binding name="BasicHttpBinding_IServicioGeneraFormatoImpresion" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSIdentityBinding">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://serviciostest.plataforma.sat.gob.mx/axis2/services/IdCInterno"
                binding="basicHttpBinding" bindingConfiguration="IdCInternoSOAP"
                contract="WsIdcInterno.IdCInterno" name="IdCInternoSOAP" />
            <endpoint address="http://172.20.14.14/WSIdentity/WSAA" binding="customBinding"
                bindingConfiguration="WSIdentityBinding" contract="WSIdentity.WSIdentity"
                name="WSIdentityPort" />
            <endpoint address="http://localhost:34071/ServicioGeneraFormatoImpresion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGeneraFormatoImpresion"
                contract="ServicioGeneraFormatoImpresion.IServicioGeneraFormatoImpresion"
                name="BasicHttpBinding_IServicioGeneraFormatoImpresion" />
            <endpoint address="http://cubo837u497a001.dssat.sat.gob.mx/ServicioArcaCreditosFiscales.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioArcaCreditosFiscales"
                contract="ServicioArcaCF.IServicioArcaCreditosFiscales" name="BasicHttpBinding_IServicioArcaCreditosFiscales" />
            <endpoint address="http://satcpnasfpro25:8092/WsTraductorProcesamiento/CreditosFiscales.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditosFiscales"
                contract="ServicioTraductorLC.ICreditosFiscales" name="BasicHttpBinding_ICreditosFiscales" />
        </client>
    </system.serviceModel>
</configuration>