<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
    <connectionStrings>
      <!--<add name="Traductor" connectionString="Password=Creditos1;Persist Security Info=True;User ID=usr_creditos;Initial Catalog=MotorTraductor;Data Source=99.90.29.159" providerName="System.Data.SqlClient"/>-->
      <add name="Traductor" connectionString="Password=Passw0rd;Persist Security Info=True;User ID=sa;Initial Catalog=MotorTraductor;Data Source=(local)" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <dataConfiguration defaultDatabase="Traductor" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_ICreditosFiscales" closeTimeout="10:00:00"
                  openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
      maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
      transferMode="Buffered" useDefaultWebProxy="true">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
             maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
              </binding>
                <binding name="BasicHttpBinding_IRecepcion" closeTimeout="10:00:00"
                    openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" />              
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4178/CreditosFiscales.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditosFiscales"
                contract="MotorWCF.ICreditosFiscales" name="BasicHttpBinding_ICreditosFiscales" />
          <!--<endpoint address="http://99.90.29.157:8092/WsTraductorProcesamiento/CreditosFiscales.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditosFiscales"
                contract="MotorWCF.ICreditosFiscales" name="BasicHttpBinding_ICreditosFiscales" />-->
            <endpoint address="http://99.90.41.101:9093/RecepcionSispr/Recepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecepcion"
                contract="RecepcionLC.IRecepcion" name="BasicHttpBinding_IRecepcion" />     
        </client>
    </system.serviceModel>
</configuration>