<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	</configSections>

	<connectionStrings>
<!--
		<add 
			name="Traductor" 
			connectionString="Data Source=bd.creditos; Initial Catalog=MotorTraductor; User ID=usr_creditos; Password=Creditos1; Persist Security Info=True;"
			providerName="System.Data.SqlClient"/>
-->
<!--
		<add 
			name="Traductor" 
			connectionString="Data Source=(local); Initial Catalog=MotorTraductor; User ID=sa; Password=Passw0rd;Persist Security Info=True;" 
			providerName="System.Data.SqlClient"/>
-->
<!--
		<add
			name="Traductor"
			connectionString="Data Source=POLO-PC\SQLEXPRESS; Initial Catalog=MotorTraductor; User Instance=false; Integrated Security=true;"
			providerName="System.Data.SqlClient"/>
-->
<!--
		<add 
			name="Traductor" 
			connectionString="Data Source=Localhost; Initial Catalog=MotorTraductor; User Instance=false; Integrated Security=true;" 
			providerName="System.Data.SqlClient"/>
-->
    <!--<add
			name="Traductor"
			connectionString="Data Source=POLO-PC\SQLEXPRESS; Initial Catalog=MotorTraductor; User Instance=false; Integrated Security=true; Encrypt=yes;"
			providerName="System.Data.SqlClient"/>-->
			
	<add name="Traductor" connectionString="Integrated Security = true;Persist Security Info=True;Initial Catalog=MotorTraductor;Data Source=AMGSCDEVSQLI01\AMGSCDEVSQLV01; Encrypt=yes;" providerName="System.Data.SqlClient" />
	
	</connectionStrings>

	<dataConfiguration defaultDatabase="Traductor"/>

	<appSettings>
		<add key="ApplicationName" value="Sat.CreditosFiscales.Motor.Servicios"/>
		<add key="LogLevel" value="3"/>
		<add key="UsaAutenticacion" value="false"/>
		<add key="Milisegundos" value="86400000"/>
	</appSettings>

	<system.web>
		<compilation debug="false" targetFramework="4.0"/>
		<httpRuntime maxRequestLength="1048576" executionTimeout="360000" enable="true" ></httpRuntime>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
		To browse web app root directory during debugging, set the value below to true.
		Set to false before deployment to avoid disclosing web app folder information.
		-->
		<directoryBrowse enabled="true"/>
	</system.webServer>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding 
					name="BasicHttpBinding_IRecepcion" 
					closeTimeout="00:10:00"
					openTimeout="00:10:00" 
					receiveTimeout="00:10:00" 
					sendTimeout="00:10:00"
					allowCookies="false" 
					bypassProxyOnLocal="false" 
					hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="0" 
					maxReceivedMessageSize="2147483647"
					transferMode="Streamed"
					useDefaultWebProxy="true">
					<readerQuotas 
						maxDepth="2147483647" 
						maxStringContentLength="2147483647" 
						maxArrayLength="2147483647" 
						maxBytesPerRead="2147483647" 
						maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Certificate" algorithmSuite="Default" />
					</security>
				</binding>

				<!--
				<binding 
					name="BasicHttpBinding_IRecepcion" 
					closeTimeout="00:10:00"
					openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="0" maxReceivedMessageSize="2147483647"
					transferMode="Streamed"
					useDefaultWebProxy="true">
					<readerQuotas 
						maxDepth="2147483647" 
						maxStringContentLength="2147483647"
						maxArrayLength="2147483647" 
						maxBytesPerRead="2147483647" 
						maxNameTableCharCount="2147483647" />
				</binding>
				-->

				<binding 
					name="BasicHttpBinding_IServicioGeneraFormatoImpresion"
					closeTimeout="10:00:00"
					openTimeout="10:00:00" 
					receiveTimeout="10:00:00" 
					sendTimeout="10:00:00" 
					allowCookies="false" 
					bypassProxyOnLocal="false" 
					hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="2147483647" 
					maxBufferSize="2147483647" 
					maxReceivedMessageSize="2147483647"
					transferMode="Buffered" 
					useDefaultWebProxy="true">
					<readerQuotas 
						maxDepth="2147483647" 
						maxStringContentLength="2147483647" 
						maxArrayLength="2147483647" 
						maxBytesPerRead="2147483647" 
						maxNameTableCharCount="2147483647" />
				</binding>

				<binding 
					name="basicHttpBindingConfiguration" 
					closeTimeout="00:10:00" 
					openTimeout="00:10:00" 
					receiveTimeout="00:10:00" 
					sendTimeout="00:10:00"
					allowCookies="false" 
					bypassProxyOnLocal="false" 
					hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="2147483647" 
					maxBufferSize="2147483647" 
					maxReceivedMessageSize="2147483647"
					transferMode="Streamed" 
					useDefaultWebProxy="true">
					<readerQuotas 
						maxDepth="2147483647" 
						maxStringContentLength="2147483647" 
						maxArrayLength="2147483647" 
						maxBytesPerRead="2147483647" 
						maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint 
				address="https://wu1-sis-dev-cls-net-recepcion.cloudapp.net/Recepcion.svc" 
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IRecepcion" 
				contract="RecepcionLC.IRecepcion" 
				name="BasicHttpBinding_IRecepcion" />

<!--
			<endpoint 
				address="http://satcpnasfpro25:8092/WsImpresionLC/ServicioGeneraFormatoImpresion.svc"
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IServicioGeneraFormatoImpresion"
				contract="ServicioImpresion.IServicioGeneraFormatoImpresion"
				name="BasicHttpBinding_IServicioGeneraFormatoImpresion" />
-->

			<endpoint 
				address="http://localhost:34071/ServicioGeneraFormatoImpresion.svc"
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IServicioGeneraFormatoImpresion"
				contract="ServicioImpresion.IServicioGeneraFormatoImpresion"
				name="BasicHttpBinding_IServicioGeneraFormatoImpresion" />
		</client>

		<behaviors>
			<serviceBehaviors>
				<behavior name="Sat.CreditosFiscales.Procesamiento.Servicios.Behavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500"
					  maxConcurrentInstances="500" />
				</behavior>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<services>
			<service 
				behaviorConfiguration="Sat.CreditosFiscales.Procesamiento.Servicios.Behavior"
				name="SAT.CreditosFiscales.Motor.Servicios.CreditosFiscales">
				<endpoint 
					address="" 
					binding="basicHttpBinding" 
					bindingConfiguration="basicHttpBindingConfiguration"
					contract="SAT.CreditosFiscales.Motor.Servicios.ICreditosFiscales" />
			</service>
		</services>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>

		<serviceHostingEnvironment 
			aspNetCompatibilityEnabled="true" 
			multipleSiteBindingsEnabled="true">
		</serviceHostingEnvironment>
	</system.serviceModel>
</configuration>