<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="Conexion" value="Data Source=99.90.24.216;Initial Catalog=MonitorPaquetes;User ID=sa;Password=Sat2012"></add>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
