<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <add name="CreditosFiscalesConnectionString" connectionString="Password=Creditos1;Persist Security Info=True;User ID=usr_creditos;Initial Catalog=MotorTraductor;Data Source=bd.creditos" providerName="System.Data.SqlClient"/>
    <!--<add name="CreditosFiscalesConnectionString" connectionString="Data Source=FGARCIA;Initial Catalog=Condonaciones;Integrated Security = true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="CreditosFiscalesConnectionString" />
  <appSettings>    
    <!--<add key="RutaArchivosProcesados" value="////tqidcuatfsvn03//Condonaciones//ArchivosProcesados"/>
    <add key="RutaArchivosParaSIR" value="////tqidcuatfsvn03//Condonaciones//ArchivosParaSIR"/>
    <add key="RutaArchivosConError" value="////tqidcuatfsvn03//Condonaciones//ArchivosConError"/>
    <add key="RutaDiferencias" value="////tqidcuatfsvn03//Condonaciones//ReporteDiferencias"/>    
    <add key="RutaLog" value="////tqidcuatfsvn03//Condonaciones//Log"/>
    <add key="RutaArchivosDYP" value="////tqidcuatfsvn03//Condonaciones//ArchivosProcesadosDyP"/>-->

    <add key="RutaInputArchivos" value="C://Temp//CreditosFiscales//ArchivosProcesar"/>
    <add key="RutaArchivosProcesados" value="C://Temp//CreditosFiscales//ArchivosProcesados"/>
    <add key="RutaArchivosDYP" value="C://Temp//CreditosFiscales//ArchivosProcesadosDyP"/>
    <add key="RutaArchivosParaSIR" value="C://Temp//CreditosFiscales//ArchivosParaSIR"/>
    <add key="RutaArchivosConError" value="C://Temp//CreditosFiscales//ArchivosConError"/>
    <add key="RutaDiferencias" value="C://Temp//CreditosFiscales//ReporteDiferencias"/>
    <add key="RutaLog" value="C://Temp//CreditosFiscales//Log"/>    
    <add key="ApplicationName" value="Sat.CreditosFiscales.Pagos" />
    <add key="LogLevel" value="3" />

    <add key="RutaPorLocal" value="Local"/>
    <add key="VersionCriterio" value="01"/>
	<add key="LogActivo" value ="1" />
	<add key="NomBaseLstRFC" value="lstRFC"/>
	<add key="ForFechaLstRFC" value="ddMMyyyy" />
	<add key="ForFechaLinea" value="ddMMyyyy" />
	<add key="Separador" value="|" />
	<add key="Nulo" value="null" />
	<add key="ExteFechaLstRFC" value=".txt"/>
  <add key ="EvaluarVersiones" value="false"/>
  <add key ="VersionesValidas" value="01,02,03,04"/>
    
    <add key="RutaArchivosMAT" value="C://Temp//CreditosFiscales//ArchivosParaSiat"/>
    <add key="ExtArchivoSIAT" value=".xml"/>
    <add key="NomBaseCifrasSIAT" value="CIFRAS"/>
    <add key="ForNomFechaCifrasSIAT" value="yyyyMMdd"/>
    <add key="ForFechaPagoSIAT" value="yyyyMMdd" />
    <add key="SeparadorCifrasSIAT" value=","/>
    <add key="SeparadorNomCifrasSIAT" value="_"/>
    <add key ="InicioConsecutivoCifrasSIAT" value="1"/>
     <add key="NomBaseCifrasSIAT" value="CIFRAS"/>
     <add key ="ExtCifrasSIAT" value=".txt"/>
    
    <add key="NomBaseZIPSIAT" value="MATCBZ" />
    <add key="ForFechaZIPSIAT" value="yyyyMMdd" />
    <add key="SeparadorNomZIPSIAT" value="_"/>
    <add key ="InicioConsecutivoZIPSIAT" value="1"/>
    <add key ="DirectorioZIPSIAT" value="\"/>
    <add key ="ExtZIP" value=".zip"/>
  
  </appSettings>
</configuration>