<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LlavesEncriptar" value="V0b0L1HAm2aoLEp|Ii708Yapz0VMn8G"/>
	</appSettings>
<connectionStrings>
	<add name="conBDManejoRMA" connectionString="F4n+Lpm1+o0EEPwn4SvDdhK7LA6bUzKKcGe4NjaYB4cYX8CHFeBBxKJ7ig241oqRBBbzkeIljBYaI+8isSqklnKsQk3MnrMt2Er7NtGvn30FS5tEO49JhRh60Fp/A2Fker7LUdwy/RClcWZhhbOl3w==" providerName="System.sqlClient"/>
</connectionStrings>
</configuration>