<?xml version="1.0" encoding="utf-8" ?>
<!--@(#)SCADE2(W:SKDN08221CO2:SAT.DyP.Presentacion.Seguridad.Membresia:app.config:0:21/Mayo/2008[SAT.DyP.Presentacion.Seguridad.Membresia:1.1:21/Mayo/2008])-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAT.DyP.Presentacion.Seguridad.Membresia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SAT.DyP.Presentacion.Seguridad.Membresia.Properties.Settings>
            <setting name="IDCMembership_AuthenticateUser_idcValidation"
                serializeAs="String">
                <value>http://localhost/Autenticacion/wsIDCValidate.asmx</value>
            </setting>
            <setting name="SAT_SCADE_NET_Presentacion_Seguridad_Membresia_wsIDCValidate_idcValidation"
                serializeAs="String">
                <value>http://localhost/Autenticacion/wsIDCValidate.asmx</value>
            </setting>
        </SAT.DyP.Presentacion.Seguridad.Membresia.Properties.Settings>
    </applicationSettings>
</configuration>