<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogEvent_Audit" value="Si" />
    <add key="LogEvent_Log" value="Ide_Web_ProcDec" />
    <add key="LogEvent_NumEvent" value="13200" />
    <add key="LogEvent_Source" value="ProcDecla" />
    <add key="IntervaloEjecucion" value="1" />
    <add key="MaxNumIntentos" value="5" />
    <add key="MaxNumRenglones" value="3" />
    <add key="FileStrime_ReadTimeout" value="-1" />
    <add key="UrlServicioConfiguracion" value="http://localhost/CommonServices/Configuracion.asmx" />
    <add key="UrlServicioValidacion" value="http://localhost/IdeValidacion/Validacion.svc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="conBDUtil" connectionString="Data Source=10.237.130.138\10.237.130.142;Initial Catalog=DyPUtil;User Id=usrIDEWebBD;Password==*ActualizarPorLaContraseñaCorrecta*;" providerName="System.Data.SqlClient" />
    <add name="conBDIdeWeb" connectionString="Data Source=10.237.130.138\10.237.130.142;Initial Catalog=IDEWeb;User Id=usrIDEWebBD;Password==*ActualizarPorLaContraseñaCorrecta*;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IValidacion" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/IdeValidacion/Validacion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidacion" contract="IdeValidacion.IValidacion" name="BasicHttpBinding_IValidacion" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>