<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<add key="RutaXml" value="D:\Projects\SAT-LC-CreditosFiscales\Pruebas\Files\XML\PagoAutorización\PagoAutorización.xml"/>
		<add key="Aplicacion" value="2"/>
		<add key="TipoDocumento" value="22"/>
		<!--<add key="ArchivoTXT" value="C:\{0}.txt"/>-->
		<add key="ArchivoTXT" value="C:\SAT-LineaCaptura\{0}.txt"/>
		<!--<add key="ArchivoPDF" value="E:\SAT-Softek\Temp\{0}.pdf"/>-->
		<add key="ArchivoPDF" value="C:\SAT-LineaCaptura\{0}.pdf"/>
	</appSettings>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding 
					name="BasicHttpBinding_ICreditosFiscales" 
					closeTimeout="10:00:00"
					openTimeout="10:00:00" 
					receiveTimeout="10:00:00" 
					sendTimeout="10:00:00"
					allowCookies="false" 
					bypassProxyOnLocal="false" 
					maxBufferPoolSize="2147483647"
					maxReceivedMessageSize="2147483647" 
					useDefaultWebProxy="true" />
				<binding 
					name="BasicHttpBinding_IServicioGeneraFormatoImpresion"
					closeTimeout="10:00:00" 
					openTimeout="10:00:00" 
					receiveTimeout="10:00:00"
					sendTimeout="10:00:00" 
					allowCookies="false" 
					bypassProxyOnLocal="false"
					hostNameComparisonMode="StrongWildcard" 
					maxBufferPoolSize="2147483647"
					maxBufferSize="2147483647" 
					maxReceivedMessageSize="2147483647"
					transferMode="Buffered" 
					useDefaultWebProxy="true">
					<readerQuotas 
						maxDepth="2147483647" 
						maxStringContentLength="2147483647"
						maxArrayLength="2147483647" 
						maxBytesPerRead="2147483647" 
						maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_IServicioReglasXslt" />
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint
				address="http://localhost:38450/ServicioReglasXslt.svc" 
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IServicioReglasXslt" 
				contract="ReglasXsltWCF.IServicioReglasXslt" 
				name="BasicHttpBinding_IServicioReglasXslt" />
			<endpoint
				address="http://satcpnasfpro25:8092/WsImpresionLC/ServicioGeneraFormatoImpresion.svc" 
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IServicioGeneraFormatoImpresion" 
				contract="ServicioImpresion.IServicioGeneraFormatoImpresion" 
				name="BasicHttpBinding_IServicioGeneraFormatoImpresion" />
			<!--
			<endpoint
				address="http://satcpnasfpro25:8092/WsTraductorProcesamiento/CreditosFiscales.svc"
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_ICreditosFiscales" 
				contract="ServicioMotor.ICreditosFiscales" 
				name="BasicHttpBinding_ICreditosFiscales" />
			-->
			<endpoint 
				address="http://localhost:4178/CreditosFiscales.svc"
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_ICreditosFiscales" 
				contract="ServicioMotor.ICreditosFiscales" 
				name="BasicHttpBinding_ICreditosFiscales" />
		</client>
	</system.serviceModel>
</configuration>