<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	</configSections>

	<connectionStrings>
		<!--<add 
			name="Traductor" 
			connectionString="Data Source=99.90.29.159; Initial Catalog=MotorTraductor; User ID=usr_creditos; Password=Creditos1; Persist Security Info=True; Encrypt=yes;" 
			providerName="System.Data.SqlClient"/>-->
		<add name="Traductor" connectionString="Integrated Security = true;Persist Security Info=True;Initial Catalog=MotorTraductor;Data Source=AMGSCDEVSQLI01\AMGSCDEVSQLV01; Encrypt=yes;" providerName="System.Data.SqlClient" />
			
	</connectionStrings>

	<dataConfiguration defaultDatabase="Traductor" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IConsultaCatalogos" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint 
				address="http://99.90.41.101:9095/ConsultaCatalogos.svc"
				binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpBinding_IConsultaCatalogos"
				contract="CatalogosDyP.IConsultaCatalogos" 
				name="BasicHttpBinding_IConsultaCatalogos" />
		</client>
	</system.serviceModel>
</configuration>